<!DOCTYPE html>
<!--
  FlaDOS // orangutans-p04
  Roster: Eviss Wu, Yu Lu, Kiran Soemardjo, Mustafa Abdullah
  SoftDev
 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza Time</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col">
  <canvas id = "chart"></canvas>
</body>

  <main class="flex-1 max-w-6xl mx-auto w-full px-6 py-10">
    <h2> hi </h2>
  </main>

  <footer class="mt-12 py-6 text-center text-sm text-gray-500">
    <a href="/" class="hover:text-orange-500 transition">
      ↑ Go to top
    </a>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{url_for('static', filename='js/hompage.js')}}"> </script>
</body>
</html>
