<!DOCTYPE html>
<!--
  FlaDOS // orangutans-p04
  Roster: Eviss Wu, Yu Lu, Kiran Soemardjo, Mustafa Abdullah
  SoftDev
 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FLaDOS</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col bg-[var(--steam-bg)]">

  <header class="bg-[url('{{ url_for('static', filename='images/colored_body_top.png') }}')] flex justify-center w-full backdrop-blur flex items-center justify-between px-24 pt-8 pb-5">
    <div id="title" class ="flex flex-col pl-8">
      <h1 class="text-2xl text-[var(--steam-b)] select-none flex flex-row mb-2">
      FLaDOS
        <div id="logo" class="ml-4 w-8 h-8">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Steam" class="w-20 h-auto">
        </div>
      </h1>
      <p class="text-sm indent-4 italic text-clamp-1 text-[var(--steam-g)] select-none">
        the Formatting, Loading, & Aggregation of Data for Observations of Steam
      </p>
    </div>


    <div id="navigation" class="flex pr-8">
      <p class="select-none text-[var(--steam-g)]">
        Sign in through
        <a href="/"
          class="text-sm px-2 py-2 rounded-lg text-white hover:text-[var(--steam-b)] transition">
          Steam
        </a>
        |
        <a href="/"
          class="text-sm px-2 py-2 rounded-lg text-white hover:text-[var(--steam-b)] transition">
          Steam Web API
        </a>
      </p>
    </div>
  </header>

  <main class="bg-[url('{{ url_for('static', filename='images/colored_body_main.jpg') }}')] bg-no-repeat bg-cover flex-1 px-20 py-10 bg-[var(--steam-bg2)]">

    <div class="flex flex-col mb-10">
      <h2 class="text-3xl text-[var(--steam-g)] mb-4">
        hello [ur name here], welocme to FLaDOS!
      </h2>
      <p class="text-right text-lg text-[var(--steam-g)] max-w-2xl">
        here are the selection of personalized games that we think u might like, based on your play history (playtime) and the games you have in your library. click on any of the games to see more details about it, including its price, release date, and user reviews.
      </p>
    </div>

    <section id="highlights" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 select-none pointer-events-none">
      <div class="bg-[var(--steam-bl2)] p-6">
        <img src="{{ url_for('static', filename='images/highlight.jpg') }}" alt="Steam" class="w-full h-auto">
      </div>

      <div class="bg-[var(--steam-bl)] p-6">
        <img src="{{ url_for('static', filename='images/highlight.jpg') }}" alt="Steam" class="w-40rem">
      </div>

      <div class="bg-[var(--steam-bl3)] p-6">
        <img src="{{ url_for('static', filename='images/highlight.jpg') }}" alt="Steam" class="w-40rem">
      </div>
    </section>
  </main>

  <footer class="mb-12 pr-6 pt-6 text-center text-sm text-gray-500">
    <p class = "select-none">
    <a href="/" class="hover:text-[var(--steam-b)] transition">
      ↑ Go to top
    </a>
    |
    <a href="https://github.com/kirans14/orangutans-p04" class="hover:text-[var(--steam-b)] transition">
    Made by Orangutans, SoftDev P04 | 
    </a>
    2026
    </p>

  </footer>

  <script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
</body>
</html>
