<!DOCTYPE html>
<!--
  FlaDOS // orangutans-p04
  Roster: Eviss Wu, Yu Lu, Kiran Soemardjo, Mustafa Abdullah
  SoftDev
 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FLaDOS</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col bg-[var(--steam-bg)]">

  <header class="bg-[url('{{ url_for('static', filename='images/colored_body_top.png') }}')] flex justify-center w-full backdrop-blur flex items-center justify-between px-24 pt-8 pb-5">
    <div id="title" class ="flex flex-col pl-8">
      <h1 class="text-2xl text-[var(--steam-b)] select-none flex flex-row mb-2">
      FLaDOS
        <div id="logo" class="ml-4 w-8 h-8">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Steam" class="w-20 h-auto">
        </div>
      </h1>
      <p class="text-sm indent-4 italic text-clamp-1 text-[var(--steam-g)] select-none">
        the Formatting, Loading, & Aggregation of Data for Observations of Steam
      </p>
    </div>


    <div id="navigation" class="flex pr-8">
      <p class="select-none text-[var(--steam-g)]">
        <a href="/steam_id"
          class="text-sm px-2 py-2 rounded-lg text-white hover:text-[var(--steam-b)] transition">
          Your Trends
        </a>
      </p>
    </div>
  </header>

  <main class="bg-[url('{{ url_for('static', filename='images/colored_body_main.jpg') }}')] bg-no-repeat bg-cover flex-1 px-20 py-10 bg-[var(--steam-bg2)]">

    <div class="flex flex-col mb-10">
      <h2 class="text-3xl text-[var(--steam-g)] mb-4">
        Welcome to the Homepage
      </h2>
      <div class="bg-[var(--steam-bl)] p-6 mt-4 select-none">
        <a class ="text-2xl text-white mb-2 hover:text-[var(--steam-b)] transition" id="mostEngagingTitle" href="/" target="_blank">Thinking of a recommendation...</a>
        <img src = "" onclick ="" role="button" id="mostEngagingImg">
      </div>
      <p class="text-right text-lg text-[var(--steam-g)] max-w-2xl">
      </p>
    </div>
    <section id="highlights" class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-8">
    
      <div class="bg-[var(--steam-bl2)] p-8 h-[600px] flex flex-col">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-2xl text-white hover:text-[var(--steam-b)] transition"> 
            Top 30 Games by Metric 
          </h3>
          <select id="metricSelector" class="bg-[#1b2838] text-white p-2 rounded border border-[#101822] focus:outline-none focus:border-[var(--steam-b)] transition cursor-pointer">
            <option value="positive">Positive Reviews</option>
            <option value="negative">Negative Reviews</option>
            <option value="ccu">Peak CCU</option>
            <option value="average_forever">Average Playtime (Minutes)</option>
            <option value="price">Price (Cents)</option>
          </select>
        </div>
        <div class="relative flex-1 w-full h-full">
          <canvas id="rankedChart"></canvas>
        </div>
      </div>

      <div class="bg-[var(--steam-bl3)] p-8 h-[1000px]">
        <h3 class="text-2xl text-white mb-2 hover:text-[var(--steam-b)] transition"> Most popular supported languages (ALL)</h3>
        <canvas id = "chart3"></canvas>
      </div>
    </section>
  </main>

  <footer class="mb-12 pr-6 pt-6 text-center text-sm text-gray-500">
    <p class = "select-none">
    <a href="/" class="hover:text-[var(--steam-b)] transition">
      ↑ Go to top
    </a>
    |
    <a href="https://github.com/kirans14/orangutans-p04" class="hover:text-[var(--steam-b)] transition">
    Made by Orangutans, SoftDev P04 |
    </a>
    2026
    </p>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
  const steamData = {{ data | tojson }};
  </script>
  <script src="{{url_for('static', filename='js/chart.js')}}"> </script>
</body>
</html>
